@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/*? -------------------------------------------------------------------------- !*/
/*?                   OVER WRITE Scroll Bar => NextUi                          !*/
/*? -------------------------------------------------------------------------- !*/
/* Change the background color of the scrollbar track */
::-webkit-scrollbar {
  background-color: #ffa458;
  width: 10px; /* Width of the vertical scrollbar */
  height: 3px; /* Height of the horizontal scrollbar */
  /* Change this to the desired background color */
}

/* Change the color of the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #130901;
  /* Change this to the desired thumb color */
}
 .slick-prev{
  display: none !important;
}
  .slick-next{
  display: none !important;
}
.slick-arrow .slick-prev::before{
  display: none !important;
}
.slick-arrow .slick-next::before{
  display: none !important;
}

/* Change the color of the scrollbar arrows (up and down buttons) */
::-webkit-scrollbar-button {
  background-color: #c96514;
  /* Change this to the desired arrow color */
}

/* Change the color of the scrollbar corner (between the thumb and track) */
::-webkit-scrollbar-corner {
  background-color: #c96514;
  /* Change this to the desired corner color */
}

.hide-slide::-webkit-scrollbar {
  width: 0 !important;
}
.min-slide-scroll::-webkit-scrollbar {
  width: 2px !important;
}
 
/*! -------------------------------------------------------------------------- !*/
/*?                   OVER WRITE Scroll Bar => NextUi                          !*/
/*? -------------------------------------------------------------------------- !*/
 
.swiper-slide {
  background-position: center;
  background-size: cover;
   
}

.swiper-pagination-bullet {
  width: 5px !important;
  height: 5px !important;
}
.swiper-pagination-bullet-active {
  background-color: #ffa458 !important;
  width: 8px !important;
  height: 8px !important;
}
.swiper-pagination {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.swiper-pagination-bullet-active-next {
  width: 2px !important;
  height: 2px !important;
}