@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.swiper-pagination-bullet-active {
  background-color: #ffa458 !important;
  width: 15px !important;
  height: 15px !important;
}
.swiper-pagination {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.swiper-pagination-bullet-active-next {
  width: 2px !important;
  height: 2px !important;
}